<!DOCTYPE html>
<html lang="ja">
<head>
    <meta charset="UTF-8">
    <title>カテゴリー一覧</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
    <h1>競技の写真</h1>
    
    <!-- 各カテゴリーを表示 -->
    <ul>
        {% for category, photos in categorized_photos.items() %}
            <li>
                <h2>{{ category }}</h2>
                <ul>
                    <!-- 各カテゴリー内の写真を表示 -->
                    {% for photo in photos %}
                        <li>
                            <div>
                                <!-- Google Drive のURLを使って画像を表示 -->
                                <input type="checkbox" name="selected_photos" value="{{ photo['filename'] }}">
                                <img src="{{ photo['url'] }}" alt="{{ photo['title'] }}" style="width: 200px; height: auto;"> <!-- 画像サイズを指定 -->
                                <p>{{ photo['title'] }}</p>
                            </div>
                        </li>
                    {% endfor %}
                </ul>
            </li>
        {% endfor %}
    </ul>
    
    <form method="post" action="{{ url_for('cart') }}">
        <input type="submit" value="カートに入れる">
    </form>
</body>
</html>
